/composer.phar
/.idea/
tmp/*
/vendor/
/app/config/parameters.yml
/app/bootstrap.php.cache

/bin/*
!/bin/console
!/bin/symfony_requirements

/web/bundles/
/web/js/
/web/css/
/web/assetic/

/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

/web/upload_test/*
/web/upload/*
!/web/upload
!web/upload/.gitkeep